# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
{{.ProjectName}}

# Test binary
*.test

# Output of go coverage
*.out

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo

# Kruda dev server temp binary
.kruda-tmp
